*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body{
    background-image: url('backround.jpg');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}    

.wrapper{
	width: 1100px;
	margin: auto;
	position: relative;
}

.logo{
	font-size: 50px;
	font-weight: 800px;
	float: left;
	font-family: 'Courier New',Courier,monospace;
	color: #ffffff;
}

.menu{
	float: right;
}

nav{
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	/*agar nav selalu tampil*/
	position: sticky;
	position: -webkit-stciky;
	top: 0;
	z-index: 1;
	border-bottom: 1px;
	background-color: rgb(0, 0, 0);
	border-bottom: 3px solid #000000; 
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

.font-size{
	text-align: center;
	position: relative;
	margin-top: 250px;
}

.font-style{
	font-family: 'comic sans ms';
	font-size: 50px;
	color: white;
    text-shadow: -4px 4px 4px #000;
}

.klik-profile{
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

a.klik-profile{
	background-color: black;
	border-radius: 50px;
	font-size: 20px;
	color: white;
}

.foto-identitas{
	color:white;
	margin-top: 250px;
	background-color:rgb(0, 0, 5);
	padding: 50px;
}

p.huruf{
	font-size: 50px;
	margin-bottom: 50px;
	font-weight: bold;
}

td{
	text-align: left;
}

table{
	margin: auto;
	width: 75%;
}


table tr th{
	width: 500px;
}

table tr th img{ 
	border-radius: 50%;
	width: 50%;
}

.crding{
	color: #FAF7F0;
	padding: 50px;	
}

.foto{
	width: 20%;
	margin: 0 auto;
}
.sekolah{
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.foto img{
	width: 80%;
	border-radius: 50%;

}

h2{
	margin-bottom: 10%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

p.kls{
	margin-top: 10%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.contact{
	color: #FAF7F0;
	margin-top: 250px;
	background-color: #000000;
	padding: 50px;
}

.kontak table{
	width: 1000px;

}

.kontak table tr td img{
	border-radius: 25%;
	width: 50px;
}